body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}


.menu {
    position: relative;
    width: 100vw;
    height: 100vh;
}


.balon {
    position: absolute;
    background-color: #ffcc00;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
}


.balon:hover {
    transform: scale(1.1);
}